html {
  font-size: 16px;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    width: 0
  }
}

[class*=rounded-] {
  overflow: hidden;
}

img {
  -webkit-touch-callout: none;
}

span {
  vertical-align: inherit;
}
