.e-icon {
  @apply inline-flex items-center justify-center align-middle flex-shrink-0;
	width: 1em;
	height: 1em;
	font-size: 1em;
	box-sizing: initial;
}

.e-icon__svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
}
